{% extends "base.html" %}
{% block content %}
	{% for post in posts %}
	<div><p>{{ post.author.nickname }} diz: <b>{{ post.body }}</b></p></div>
	{% endfor %}
	<form action='/index' method='GET'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-4'>
				<h4>Adicionar um novo post:</h4>
				<div class='form-group'>
					<label for='usr'>Nome:</label> 
					<input type='text' class='form-control' name='name' value='' id='usr'>
				</div>

				<div class='form-group'>
					<label for='post'>Post:</label> 
					<textarea class ='form-control' rows='3' name='post' id='post'></textarea></div>
				<input type='submit' name='submit' value='Postar!'>
			</div>
		</div>
	</div>
	</form>
{% endblock %}